* {
     margin: 0;
     padding: 0;
     box-sizing: 0;
     list-style: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
     margin: 10px 0;
}

body {
     background-color: rgb(240,240,240);
}

.wrapper {
     margin: 50px;
     padding: 30px 50px;
     background-color: rgb(22,21,41);
     color: #ffffff;
}

.wrapper h2 {
     color: #00ff00;
}

.wrapper h1 span {
     color: #00ff00;
}

@media (max-width: 560px) {
     .wrapper {
          margin: 20px;
          padding: 20px;
     }
     
     .wrapper h1 {
          font-size: 30px;
     }
     
     .wrapper h2 {
          font-size: 20px;
     }
}